body
{
    background-image: url("../img/background.jpeg");
    background-size: cover;
}
nav{
    font-family: 'Berkshire Swash', cursive;
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-indent: 100px;
    text-shadow: 5px 6px  7px green;
}